html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
svg {
  width: 50px;  
}
.form-star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.label-star {
  fill: white;
  stroke: black;
}
.input-star {
  appearance: none;
}

/* Текущая выбранная звезда */
input[type="radio"]:checked + label {
  fill: yellow;
  stroke: slateblue;
}
/* Все звезды после текущей выбранной */
input[type="radio"]:checked  ~label {
  fill: yellow;
  stroke: slateblue;
}

/* Текущий наведенный лейбл(звезда) */
label:hover {
  fill: orange;
}
/* Все лейблы(звезды) после текущего наведенного лейбла(звезды) */
label:hover  ~ label {
  fill: orange;
}

/* так как мы реверснули `после` === `до` */